@charset "UTF-8";

header{
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #1c1e26;
	position: fixed;
}

header div{
	padding-top: 5px;
	padding-left: 15px;
	font-size: medium;
	color: white;
	font-weight: bold;
	word-spacing: 2pt;
	img{
		vertical-align: middle;
	}
}

.sidebar{
	height: 100%;
	width: 120px;
	margin-top: 50px;
	background-color: #313443;
	top: 0;
	left: 0;
	position: fixed;
}

.sidebar a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	color: white;
	display: block;
	&:hover{
		background-color: #22252E;
	}
}

.content{
	margin-top: 50px;
	margin-left: 120px;
}
